# AI
GEMINI_API_KEY=

# Image Processing (Cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Database
SUPABASE_URL=
SUPABASE_ANON_KEY=
